.workout {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0 2rem 0;
  &__day {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: -1.5rem;
  }
  &__muscle-group {
    font-size: 2rem;
    font-weight: 500;
    color: darkgray;
    text-align: center;
  }
  &__btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
  }
  &__btn {
    padding: 0.2rem 1rem 0.2rem 0.3rem;
    border-radius: 50px;
    font-weight: 500;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;

    &-add-exercise {
      color: rgb(78, 163, 78);
      border: 2px solid rgb(78, 163, 78);
    }
    &-del-workout {
      color: rgb(213, 56, 56);
      border: 2px solid rgb(213, 56, 56);
    }
  }
  &:last-of-type {
    margin-bottom: 3rem;
  }
}
