.workout {
  position: relative;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0 2rem 0;
  &__day {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: -1.5rem;
  }
  &__muscle-group {
    font-size: 2rem;
    font-weight: 500;
    color: darkgray;
    text-align: center;
  }

  &__exercise-form {
    margin: 1rem 0 1rem 0;
    display: flex;
    &-submit {
      border: none;
      border-radius: 0 50px 50px 0;
      background-color: rgb(78, 163, 78);

      &-icon {
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0 1rem 0 1rem;
      }
    }
  }
  &__add-new {
    display: flex;
    align-items: center;
    justify-content: center;
    &-input {
      padding: 0.5rem 1rem;
      border-radius: 50px 0 0 50px;
      border: 2px solid rgb(78, 163, 78);
      border-right: none;
      width: 15rem;
    }
  }

  &__delete {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    color: rgb(213, 56, 56);
  }
  &:last-of-type {
    margin-bottom: 3rem;
  }
}
