.auth-form {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 2rem;
}
legend {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
label {
  font-size: 1.8rem;
}
input {
  font-size: 1.9rem;
  padding: 0.3rem 0.2rem;
  margin: 0.1rem 0 0.5rem 0;
  width: 100%;
}
button {
  font-size: 1.9rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(85, 166, 178);
}
p {
  font-size: 1.9rem;
  color: black;
  position: relative;
  top: 5rem;
}
.Link {
  font-size: 1.9rem;
  color: rgb(70, 159, 189);
}
