.exercise {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.303);
  margin: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 10px;
  &__title {
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
  }
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__counter {
    font-size: 3rem;
    width: 10rem;
    text-align: center;
    &-span {
      font-size: 1.8rem;
    }
  }
  &__delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #ec476b;
    width: 2rem;
    height: 2rem;
  }
  &__plus-icon {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 0.2rem;
    color: rgba(0, 0, 0, 0.3);
    &:active {
      border: 1px solid black;
      color: black;
    }
  }
  &__minus-icon {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 0.2rem;
    color: rgba(0, 0, 0, 0.3);
    &:active {
      border: 1px solid black;
      color: black;
    }
  }
  &__textarea {
    display: block;
    margin: 1rem auto 0 auto;
    width: 20rem;
    height: 6rem;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 1.4rem;
  }
  &__toggle-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: lightgray;
  }
  &__toggle-icon {
    width: 25px;
    height: 25px;
    padding: 0.2rem;
    &-letter {
      font-size: 3.1rem;
      font-weight: 700;
      margin-bottom: 2.3rem;
    }
  }
}
