@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.App {
  height: 100%;
  margin: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "poppins", sans-serif;
  height: 100%;
  max-width: 450px;
  margin: auto;
}
html {
  font-size: 62.5%;
  height: 100%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

// button {
//   -webkit-border-radius: 0 !important;
//   -webkit-appearance: none !important;
// }

.plus-icon {
  border: 2px solid rgb(78, 163, 78);
  background-color: rgb(78, 163, 78);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 0.2rem;
  color: white;
}
.minus-icon {
  border: 2px solid rgb(213, 56, 56);
  background-color: rgb(213, 56, 56);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 0.2rem;
  color: white;
}
