.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;

  &__name {
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__logout {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
